<footer>
    <h3>This is the footer section</h3>
        <div>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Work</li>
                <li>Pages</li>
                <li>Testing</li>
            </ul>
        </div>
</footer>
</body>
</html>
