{{ template "tp_header.gohtml" }}

    <h1>Ready for templating</h1>
    <p>Templates are being parsed based on the filetype .gohtml.
    All templates have to be called by name. Configuration for the templates
    should be done in the controllers.go file to avoid circular imports from main.go.
    </p>
{{ template "tp_footer.gohtml" }}